nodered/server.json
[{"id":"f5a328a7.429018","type":"mqtt in","z":"890a927d.5c074","name":"subscribe mqtt","topic":"/fiap/28scj/iot/semaforo/acessivel","qos":"2","broker":"ebfb11ad.01df6","x":100,"y":80,"wires":[["d18c60e8.97f68"]]},{"id":"a80fcb81.e572e8","type":"websocket out","z":"890a927d.5c074","name":"[ws] push notification","server":"12da9852.b3c588","client":"","x":680,"y":80,"wires":[]},{"id":"1bdc75cd.2a678a","type":"mqtt out","z":"890a927d.5c074","name":"publish mqqt","topic":"/fiap/28scj/iot/semaforo/acessivel","qos":"","retain":"","broker":"ebfb11ad.01df6","x":630,"y":260,"wires":[]},{"id":"27232433.248b8c","type":"http in","z":"890a927d.5c074","name":"[post] publicar valor no mqqt","url":"/semaforo-acessivel","method":"post","upload":false,"swaggerDoc":"","x":140,"y":240,"wires":[["4db7e2d0.2e96ac"]]},{"id":"b873bba9.9b8988","type":"http response","z":"890a927d.5c074","name":"response payload","statusCode":"","headers":{},"x":650,"y":360,"wires":[]},{"id":"4db7e2d0.2e96ac","type":"function","z":"890a927d.5c074","name":"tratar request","func":"msg.payload = parseInt(msg.payload) === 1 ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["1bdc75cd.2a678a","b873bba9.9b8988"]]},{"id":"d18c60e8.97f68","type":"function","z":"890a927d.5c074","name":"tratar valor mqqt","func":"msg.payload = parseInt(msg.payload) === 1 ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":80,"wires":[["a80fcb81.e572e8"]]},{"id":"ebfb11ad.01df6","type":"mqtt-broker","z":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"12da9852.b3c588","type":"websocket-listener","z":"","path":"/ws/semaforo-acessivel","wholemsg":"false"}]